<h3 class="text-center">Add a New Article</h3>

<form action="/articles/new" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" class="form-control" placeholder="Article Title">
  </div>
  <div class="form-group">
    <label for="body">Content:</label>
    <textarea type="text" name="body" id="body" class="form-control"></textarea>
  </div>
  <input type="submit" class="btn btn-success" value="Create Article!">
</form>
